.card {
	display: grid;
	background-color: rgb(119, 116, 134);
	border-radius: 10px;
	width: 325px;

	.head-card-container {
		display: flex;
		margin: 10px;
		align-items: center;
		gap: 15px;

		.crypto-title {
			font-size: 17px;
			margin: 0;
		}

		.crypto-symbol {
			margin-top: 2px;
			font-size: 14px;
			color: rgb(208, 195, 195);
		}

		.crypto-logo {
			margin: 0;
			font-size: 23px;
		}
	}

	.price {
		margin: 0;
		padding: 0px 0px 8px 10px;
	}

	.percent {
		padding: 0px 0px 8px 10px;
	}

	.cap {
		font-size: 14px;
		color: rgb(208, 195, 195);
		padding-bottom: 20px;
		padding-left: 10px;
	}
}